<div class="container mx-auto pt-5 text-center ring-black ring-2 rounded-lg mt-6">
  <h1 class="text-red-600 text-5xl font-mono">Austin Scott Ryley Walker</h1>
  <p class="text-lg font-mono">Full-stack developer specializing in React and Ruby on Rails. I have a passion for creating user friendly projects and education. </p>
</div>
<div>
  <%# <svg class="stroke-1 hover:stroke-2">
  <!-- ... -->
  </svg> %>
</div>
<div class="container mx-auto pt-5 text-center ring-black ring-2 rounded-lg mt-6">
  <p class="text-red-600 text-5xl font-mono">Talks</p>
  <%# iframe with this video https://www.youtube.com/watch?v=QrPJFI6QLt4%>
  <div class="flex justify-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QrPJFI6QLt4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="container mx-auto pt-5 text-center ring-black ring-2 rounded-lg mt-6">
  <p class="text-red-600 text-5xl font-mono">Projects</p>
</div>

<div class="container mx-auto pt-5 text-center ring-black ring-2 rounded-lg mt-6">
  <p class="text-red-600 text-5xl font-mono">Blog</p>
</div>






